@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}



/*----Header block start---------*/

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 3rem;
  font-size: 1.7rem;
  color: #5350FF;
  border: 0.2rem solid #5350FF;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
  transition: all 0.3s;
}

.btn:hover {
  background: #5350FF;
  border: 0.2rem solid #5350FF;
  color: #f8f9fc;
  transition: all 0.3s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.5rem 9%;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

.header .navbar a {
  font-size: 1.6rem;
  color: #3d3d3d;
  display: inline;
  margin: 1.3rem;
}

.header .navbar a:hover {
  color: #4058FF;
  border-bottom: 1px solid #4058FF;
}

.header .btn {
  margin-top: 0;
}

#menu-btn {
  font-size: 2.5rem;
  color: #000;
  cursor: pointer;
  display: none;
}

.logo {
  font-size: 2.5rem;
  color: #000000;
  font-weight: bolder;
}

/*----Header block end---------*/

/*----Home block start---------*/

.container_block {
  width: 1240px;
  max-width: 100%;
  padding: 0 15px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  background: url(/images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 80vh;
  max-width: 100%;
}

.images-padding {
  width: 375px;
  height: auto;
  padding-top: 80px;
  margin-left: 40px;
}

.home_text-title {
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 56px;
  color: #000000;
  padding-bottom: 10px;
}

.home_list-size {
  font-size: 1.6rem;
}

.home_text-subtitle {
  margin-top: 8px;
}

.home-text_span {
  color: #4058FF;
}

/*----home block end---------*/
/*----info block start---------*/

.info_image-block {
  padding-top: 50px;
  margin-bottom: 50px;
  margin-right: 5rem;
}

.image-container img {
  width: 460px;
  height: auto;

}

.info-block_text {
  max-width: 600px;
  padding: 18px 18px;
}

.info_text-title {
  color: #000000;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 1.125rem;
}

.info_text-subtitle {
  color: #000000;
  font-size: 1.5rem;
  line-height: 1.688rem;
}

/*----info block end---------*/
/*----star block start---------*/

.star_block-banner {
  background: url(/images/counter-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25vh;
  max-width: 100%;
}

.star_container {
  padding-top: 25px;
}

.star_text-title {
  font-size: 1.3rem;
  line-height: 1.4rem;
  color: #FFFFFF;
  margin-left: 15px;
}

.star_text-subtitle {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  margin-left: 15px;
  margin-top: 5px;
}

.star_text-span {
  font-size: 1.3rem;
  line-height: 1.4rem;
  color: #FFFFFF;
  margin-left: 15px;
  margin-top: 5px;
}

.star_item-text {
  font-size: 1.4rem;
  line-height: 16px;
  color: #FFFFFF;
  margin-top: 10px;
}

.star_item-block {

  margin-left: 15px;

}


.star_block-btn {
  background: #3FCB5D;
  color: #f8f9fc;
  border: 0.2rem solid #3FCB5D;
  border-radius: 5rem;
  margin-left: 120rem;
  transition: all 0.3s;
  margin-top: -2.8rem;
}

.star_block-btn:hover {
  background: #f8f9fc;
  border: 0.2rem solid #f8f9fc;
  color: #000000;
  transition: all 0.3s;
}

/*----star block end---------*/
/*----price block start---------*/


.price_block-title {
  font-weight: 500;
  font-size: 4rem;
  line-height: 2.8rem;
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 2rem;
  color: #000000;
}

.price_block-span {
  color: #5350FF;
}

.pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;

  .plan {
    background-color: #fff;
    padding: 2.5rem;
    margin: 15px;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;

    .plan_title {
      font-size: 22px;
      margin-bottom: 12px;
      color: #000000;
    }

    .price {
      margin-bottom: 1rem;
      font-size: 22px;
      color: #5350FF;
    }

    ul.features {
      text-align: center;

      li {
        margin: 8px;
        font-size: 1.5rem;
        color: #000000;
      }
    }

    button {
      border: none;
      width: 100%;
      padding: 12px 35px;
      margin-top: 1rem;
      background-color: #6ab04c;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }

    .popular {
      border: 2px solid #6ab04c;
      position: relative;
      transform: scale(1.08);
    }

    &:hover {
      box-shadow: 5px 7px 67px -28px rgba(0, 0, 0, 0.37);
    }
  }
}

/*----price block end---------*/
/*----testimonial block start---------*/

.testimonial-block_container {
  max-width: 1440px;
  margin: 0 auto;
}

.testimonial-block {
  padding: 6rem;
}

.testimonial_text-title {
  margin-bottom: 90px;
}

/*----testimonial block end---------*/
/*----select block start---------*/

.select {
  padding-top: 35px;
}

.select_block_title {
  font-weight: 500;
  font-size: 3em;
  line-height: 42px;
  color: #000000;
  text-align: center;
  margin-bottom: 12px;
}

.select_block_subtitle {
  font-weight: 400;
  font-size: 2em;
  line-height: 2.7rem;
  margin-bottom: 20px;
  text-align: center;
}

.select_span_subtitle {
  color: #5350FF;
}

.select_block-span {
  color: #5350FF;
}

.form-group+.form-group {
  margin-top: 10px;
}

label {
  cursor: pointer;
}

/*----select block end---------*/
/*----service block start---------*/

.service_block {
  padding: 50px;
}

.service_block-bg {
  background: url(/images/service-bg\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
}

.service-block_title {
  font-weight: 500;
  color: #000000;
  font-size: 2.9rem;
  line-height: 4.5rem;
  text-align: center;
}

.service-block_subtitle {
  font-size: 1.7rem;
  line-height: 2.4rem;
  text-align: center;
  color: #000000;
}

.service_content-block {
  column-count: 3;
  column-gap: 1rem;
  margin-top: 50px;
}

.service_text h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: #000000;
}

.service_text p {
  color: #000000;
  font-size: 14px;
  line-height: 21px;
}

.image {
  display: inline-block;
  margin: 0 auto;
  column-span: all;
  text-align: center;
}

.service_image img {
  border-radius: 50%;
  margin: 1rem 0;
}

.service_text {
  break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  margin: 15px 0px 15px;
}

/*----service block end---------*/

/* *******************
Select dropdown 
******************* */

.dropdown {
  position: relative;
}

.dropdown__button {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;

  background: #FFFFFF;
  border: 1px solid #7E9BBD;
  border-radius: 6px;
  height: 46px;

  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 35px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  cursor: pointer;
}

.dropdown__button:focus,
.dropdown__button--active {
  outline: none;
  box-shadow: 0px 0px 0px 4px rgba(176, 198, 225, 0.6);
}

.dropdown__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-width: 10.4px 6px 0 6px;
  border-color: #79849B transparent transparent transparent;
  border-style: solid;
  pointer-events: none;
}


.dropdown__list {
  display: none;
  position: absolute;
  left: 0;
  top: 52px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
  overflow: hidden;
  border-radius: 6px;
  width: 100%;
  z-index: 1;
}

.dropdown__list--visible {
  display: block;
}

.dropdown__list-item {
  margin: 0;
  padding: 0;
  border: 1px solid #7E9BBD;
  border-bottom: 0px;
  padding: 13px 20px;
  cursor: pointer;
}

.dropdown__list-item:first-child {
  border-radius: 6px 6px 0 0;
}

.dropdown__list-item:last-child {
  border-radius: 0 0 6px 6px;
  border-bottom: 1px solid #7E9BBD;
}

.dropdown__list-item:hover {
  background: rgba(176, 198, 225, 0.26);
}

.dropdown__input-hidden {
  display: none;
}

/*----select block end---------*/

.footer_logo {
  font-weight: 600;
  font-size: 46px;
  line-height: 53px;
  color: #FFFFFF;
}

.footer {
  background-color: #5350FF;
  margin-top: 55px;
}

.footer .container_footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .container_footer .box {
  padding: 1rem 0;
}

.footer .container_footer .box .logo {
  padding-bottom: 1rem;
}

.footer .container_footer .box h3 {
  font-size: 2.2rem;
  color: #FFFFFF;
  padding: 1rem 0;
}

.footer .container_footer .box p {
  font-size: 1.4rem;
  color: #FFFFFF;
  padding: 1rem 0;
  line-height: 2;
}

.footer .container_footer .box p i {
  padding-right: .5rem;
  color: #FFFFFF;
}

.footer .container_footer .box .share {
  display: flex;
  padding-top: 1rem;

}

.footer .container_footer .box .share a {
  margin: 0 5px;
}

.footer .container_footer .box .links {
  font-size: 1.2rem;
  color: #FFFFFF;
  padding: 0.7rem 0;
  display: block;
}

.footer .container_footer .box .links:hover {
  color: #d9296f;
}

.footer .container_footer .box .links:hover i {
  padding-right: 2rem;
}

.footer .container_footer .box .links i {
  padding-right: .5rem;
  color: #FFFFFF;
}

.footer .container_footer .box form .email {
  width: 100%;
  border-radius: 2rem;
  border: 0.2rem solid #3E3BEC;
  background: none;
  font-size: 1.2rem;
  text-transform: none;
  background-color: #3E3BEC;
  color: #FFFFFF;
  margin-bottom: 1rem;
  padding: 0.8rem 1.2rem;
}

.form_btn {
  font-size: 14px;
  border-radius: 10px;
  background-color: #eee;
  color: #000000;
  padding: 3px 16px;
  margin: 0 2px;

}

/*----responsive start---------*/

@media (max-width: 1440px) {

.star_block-btn {
  display: none;
}

}

@media (max-width: 990px) {

#menu-btn {
  display: inline-block;
}

.header .navbar {
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  background: #eee;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

.header .navbar.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header .navbar a {
  margin: 2rem;
  font-size: 2rem;
  display: block;
}

.header_btn {
  padding: 0.4rem 2.7rem;
  font-size: 1.6rem;
}

.images-padding {
  display: none;
}

.pricing_column {
  display: grid;
  }

.star_container {
  display: none;
}

.info_image-block {
  display: none;
}


.info-block_text {
  padding-top: 15px;
}

.info-block_text h2 {
  font-size: 26px;
  line-height: 38px;
}

.info-block_text p {
  font-size: 13px;
  line-height: 22px;
}

.service_image {
  display: none;
}

.service_content-block {
  display: grid;
}

.dropdown__button {
  height: 70%;
}

.text_block {
  padding-top: 80px;
  padding-bottom: 25px;
}

.home_text-title {
  font-size: 3.8rem;
  line-height: 46px;
}

.home_list-size {
  font-size: 1.3rem;
}

.home_text-subtitle {
  font-size: 1.5rem;
}

.home_btn-size {
  padding: 0.4rem 1.9rem;
  font-size: 1.3rem;
  border-radius: 5rem;
}

.price_block-title {
  font-size: 3.4rem;
}

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

  .header_btn {
    padding: 0.3rem 2.2rem;
    font-size: 1.3rem;
  }

}

/*----responsive end---------*/